/* [data-component="tooltip-trigger"] { */
/*   display: flex; */
/*   align-items: center; */
/* } */

[data-component="tooltip"] {
  z-index: 1000;
  max-width: 320px;
  border-radius: 12px;
  background-color: var(--surface-float-base);
  color: var(--white);
  padding: 2px 12px 2px 12px;
  box-shadow: var(--shadow-md);
  pointer-events: none !important;
  transition: all 150ms ease-out;
  transform: translate3d(0, 0, 0);
  transform-origin: var(--kb-tooltip-content-transform-origin);

  /* text-14-regular */
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-large); /* 171.429% */
  letter-spacing: var(--letter-spacing-normal);

  &[data-expanded] {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &[data-closed] {
    opacity: 0;
  }

  &[data-placement="top"] {
    &[data-closed] {
      transform: translate3d(0, 4px, 0);
    }
  }

  &[data-placement="bottom"] {
    &[data-closed] {
      transform: translate3d(0, -4px, 0);
    }
  }

  &[data-placement="left"] {
    &[data-closed] {
      transform: translate3d(4px, 0, 0);
    }
  }

  &[data-placement="right"] {
    &[data-closed] {
      transform: translate3d(-4px, 0, 0);
    }
  }
}
